*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.page-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    /* background-color: bisque; */
}

.page-wrapper .page-header{
    display: block;
    width: 100%;
}

.header-top{
    background: #ffc107;
    border-top: 1px solid #c19718;
    border-bottom: 1px solid #c19718;
}

@media(max-width:500px) {
    .header-col{
        flex-direction: column !important;
    }
}

.page-wrapper .page-header .header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    font-weight: 400;
}

.top-left-login i{
    color: #2d2d2d;
    font-size: 18px;
    padding-right: 10px;
}

.top-left-login a{
    text-decoration: none;
    color: #f9f9f9;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 500;
}
.top-left-login a:hover{color: #000;}
.login_link i{
    color: #2d2d2d;
}

.login_link a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
}
.login_link a:hover{color: #000;}
.header-bottom{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: #ffffff; */
}

.header-bottom .header-bottom-left{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.header-bottom .header-bottom-left .logo{
    display: block;
    position: relative;
}

.logo {
    padding: 0px 12px 0px 12px;
}

.logo .logo-link img{
    width: 100px;
}

.header-bottom-right{
    display: flex;
    flex: 1;
    justify-content: flex-end;
    max-width: 50%;
}

.section-title{
    margin-bottom: 30px;
    text-align: center;
}

.section-title .title-h2{
    color: #000;
    font-size: 30px;
    font-weight: 500;
}

/* Testimonial */

.testimonials{
    display: grid;
    height: 100%;
    place-items: center;
    /* background: #ffc107; */
}

.wrapper{
    max-width: 1200px;
    padding: 0 20px;
    align-items: center;
    justify-content: space-between;
    display: flex;
}

.wrapper .box {
    background: #f9f9f9;
    border-radius: 3px;
    padding: 25px;
    width: calc(33% - 10px);
    border: 1px solid #ccc;
}

.wrapper .box i{
    /* color: #ffffff; */
    font-size: 20px;
    color: #ffc107;
}

.wrapper .box p{
    font-size: 18px;
    color: #000;
    font-weight: 500;
}

.wrapper .box .name{
    color: #ffc107;
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 15px;
}

/* Footer */

.footer {
    display: block;
    position: relative;
    background: #2d2d2d;
}

.social-icons{
    display: flex;
    padding-top: 50px;
}

.social-icons .insta a{
    color: #888888;
}
.insta a:hover{color: #ffc107;}
.social-icons .insta a i{
    font-size: 30px;
}

.whatsapp a{color: #888888;}
.whatsapp a:hover{color: #ffc107;}
.whatsapp a i{
    font-size: 30px;
}

.fb a{color: #888888;}
.fb a:hover{color:#ffc107}
.fb a i{
    font-size: 30px;
}

.footer-middle{
    display: block;
    position: relative;
    padding-top: 60px;
    padding-bottom: 30px;
    border-top: 1px solid #303030;
    color: #888888;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.44;
    border-bottom: 1px solid gray;
}

@media(min-width:400px) {
    .useful-links{
        margin-left: 0px;
    }
}

@media(min-width:1024px) {
    .useful-links{
        margin-left: 80px
    }    
}

.footer-logo{
    display: block;
    position: relative;
}

.footer-logo-link img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-bottom: 20px;
}

.footer-content {
    text-align: justify;
}

.footer-inner-title{
    font-size: 25px;
    font-weight: 500;
    color: #ffffff;
    margin-bottom: 50px;
}

.inner-links{
    padding: 0px;
    list-style: none;
}

.inner-links li a{
    text-decoration: none;
    color: #888888;
}

.contact-list-item-icon{
    padding-top: 25px;
    color: #ffffff;
}


.content-contact{
    color: #ffffff;
}

.contact-list-item-content {
    padding-left: 20px;
}

.footer-bottom{
    padding: 20px 0px 20px 0px;
    display: flex;
    justify-content: space-between;
}
.design-dvlp{
    color: #f9f9f9;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: .1rem;
}



.footer-bootom-left{
    color: #f9f9f9;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: .1rem;
}

/* About */
.about-header img{
    width: 100%;
    /* padding-top:  64px;           */
    height: 250px;
    opacity: 0.2;
}

.about-header{
    text-align: center;
    position: relative;
    /* margin: auto; */
}

.page-header-title{
    font-size: 40px;
    font-weight: 500;
    text-transform: capitalize;
    text-align: center;
    /* border-bottom: 2px solid #ffc107;     */
}

.overlay {
    width: 100%;
    position: absolute;
    top: 100px;
}

.about-para p{
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    color: #888888;
    font-size: 18px;
}

.contact-grid{
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    list-style: none;
}

.contact-block{
    display: block;
    position: relative;
}

.first-col{
    width: 33.32223%;
}

.second-col{
    width: 66.64445%;
}

.sidebar {
    padding: 40px;
    background-color: #ffc107;
    box-sizing: border-box;
    height: 100%;
}

.contact-detail {
    display: block;
    position: relative;
}

.title-contact {
    display: block;
    position: relative;
    margin-bottom: 23px;
    /* padding-left: 12px; */
    color: #ffffff;
    font-weight: 700;
}

.contact-list{
   list-style: none;
   margin: 0;
   padding: 0;
}

.contact-list-item{
    display: flex;
    justify-content: flex-start;
    padding-top: 30px;
}

.contact-list-item_icon{
    color: #ffffff;
    font-size: 35px;
    padding-right: 25px;
}

.contact-list-item_desc{
    color: #ffffff;
    font-size: 18px;
    line-height: 1.44;
}

.contact-list-item_label{
    font-weight: 300;
}

.contact-list-item_content{
    font-weight: 500;
}

.contact-list-item_content a{
    color: #ffffff;
    text-decoration: none;
}

.contact-list-item_content a:hover{
    color: #2d2d2d;
}

.border-bootom-width {
    padding: 10px 0 10px 0;
    border-bottom: 1px solid #fff;
}

.contact-form{
    box-sizing: border-box;
    height: 100%;
    padding: 25px 45px;
    background-color: #ffffff;
    box-shadow: 0 5px 24px 6px rgb(0 0 0 / 6%);;
}

.contact-form_title{
    margin-bottom: 35px;
}

.contact-form_title h2{
    margin: 0%;
    color: #222;
    font-size: 30px;
    font-weight: 700;
    line-height: 1.2;
}

.submit-form-btn{
    margin-top: 30px;
    padding: 10px 40px;
    border-color: #ffffff;
    background-color: #ffc107;
    color: #f9f9f9;
    font-size: 18px;
}

.map{
    padding-top: 50px;
}

.login-header{
    position: relative;
    padding: 0 15px;
    background-color: #fff;
    z-index: 1;
}

.login-title{
    width: auto;
    border: 0;
    height: 70px;
}

.login-title a{
    display: flex;
    vertical-align: middle;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    height: 100%;
    font-size: 22px;
    color: #222;
    letter-spacing: .05em;
    font-weight: 500;
    line-height: 45px;
    font-family: 'Inter',sans-serif;
    padding: 0 20px;
    text-decoration: none;
}

.login-content{
    height: calc(100% - 70px);
    overflow: auto;
    padding: 30px 0;
}

.login-inner_content{
    width: 100%;
    max-width: unset;
    padding: 40px 20px;
    margin: 5px auto;
}

.vendor-login_title{
    padding: 0 0 10px;
    margin-bottom: 30px;
}

.hire-btn{
    background-color: #2d2d2d; /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
}

.hire-btn:hover{
    background-color: #ffc107;
    color: #2d2d2d;
}

.login-vendor{
    max-width: 400px;
    width: 100%;
    padding: 40px 20px;
    margin: 5px auto;
    border-radius: 10px;
    box-shadow: #222;
}

.login-vendor-title{
    padding: 0 0 10px;
    margin-bottom: 30px;
}

.custom-control{
    position: relative;
    padding-left: 35px;
    cursor: pointer;
}

.custom-input-checkbox{
    position: absolute;
    left: 0;
    width: 1rem;
    height: 1.25rem;
}

.custom-label{
    cursor: pointer;
    font-weight: 400;
}

.forgot-pass{
    text-align: right;
}

.forgot-pass a{
    text-decoration: none;
    color: #303030;
}

.vendor-login-button{
    background-color: #1b00ff;
    color: #fff;
    margin-top: 12px;
    padding: 10px 161px 10px 161px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 500;
}

.vendor-login-button:hover{
    background-color: white;
    border: 1px solid #222;
    color: #222;
    font-weight: 500;
    font-size: 18px;
}

.vendor-register-button{
    background-color: white;
    border: 1px solid #222;
    color: #222;
    margin-top: 12px;
    padding: 10px 152px 10px 152px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 500;
}

.vendor-register-button:hover{
    background-color: #ffc107;
    color: #fff;
    /* color: #222; */
    font-weight: 500;
    font-size: 18px;
}

.fixed-top{
    background-color: #ffc107;
    border-bottom: 2px solid #c19718;
}

.equipment-detail{
    border: 1px solid #e2e2e2;
}

.equipment-detail table{
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    margin-bottom: 20px;
}

.equipment-detail table td{
    color: #888888;
    font-size: 16px;
    font-weight: 600;
    padding: 10px 12px;
}

.border{
    border-bottom: 2px solid #000;
}

.listing-img {
   padding: 10px 10px 10px 10px;
}

.listing-img img{
    object-fit: cover;
    width: 100px;
    height: 100px;
}

.hire-body {
    background-color: #f9f9f9;
}

.hire-header{
    text-align: center;
}

.hire-header__title{
    font-size: 80px;
}

.main-content__checkmark{
    font-size: 120px;
    color: #06f035;;
}

.aside{
    padding: 36px 36px;
    background-color: #ffc107;
}

.aside-category{
    display: block;
    position: relative;
}

.aside-category + .aside-category{
    margin-top: 50px;
}

.aside-category__title{
    font-size: 18px;
    margin-bottom: 17px;
    display: block;
    position: relative;
    padding-left: 12px;
    color: #ffffff;
    font-weight: 700;
}

.aside-category__title::before{
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    width: 3px;
    height: 15px;
    margin-top: -8px;
    background-position: center;
    background-repeat: no-repeat;
    content: '';
    background: #c10404;
}

.aside-category__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.selector_brand{
    margin-right: 10px;
}

.range-box{
    display: block;
    position: relative;
}

.range-box_desc{
    -webkit-box-pack: start;
    -webkit-box-align: center;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 20px;
    color: #ffffff;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: normal;
    line-height: 1;
}

.range-box_desc input{
    display: inline-block;
    width: 40px;
    min-width: auto;
    margin-top: 2px;
    border: none;
    outline: none;
    background: none;
    color: #ffffff;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: normal;
    line-height: 1;
    text-align: center;
    pointer-events: none;
}

.requirement-form{
    border-top: 1px solid #ccc;
}

.img-section{
    height: 40px;
    width: 40px;
}